build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/microlife
build/.cmake/api
build/CMakeFiles
build/Testing/Temporary/LastTest.log
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
